$background: rgb(243 243 243);
$primary-color: rgb(224 36 22);
$light-gray: rgb(250 250 250);
$medium-gray: rgb(110 110 110);
$dark-gray: rgb(18 18 18);
$light-green: rgb(193 255 191);
$medium-green: rgb(3 135 0);
$dark-green: rgb(1 54 0);
$base-font: "Open sans";
$functional-font: "Poppins";
$display-font: "Reenie Beanie";
